body{
    font-family: 'Paytone One', sans-serif;
}
span{
    color: dodgerblue;
}
.first-div{
    font-size: 35px;
    margin-left: 150px;
    margin-top: 8%;
    width: 50%;
   
    
}
.first-sec{
    display: flex;
    background-image: url(COVER.jpg);
    background-size: cover;
    margin: 0%;
    padding-bottom: 7%;
}
.second-div{
    width: 50%;
}
.image{
    height:530px;
    width:530px;
    margin-right: 50%;
    margin-top: 8%;
    padding-left: 5%;
}
.first-p{
    font-size: 20px;
   
}
.first-button{
    text-decoration: none;
    color: dodgerblue;
    background-color: pink;
    padding: 10px 10px;
    border: palevioletred solid;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
    
}